/* Colores */
$colorPrincipal: #0e0e0e; /*Fondo principal o header*/
$colorSecundario: #e5e5e5; /*Texto secundario o fondos suaves*/
$colorTerciario: #1a2238; /*Enlaces o hover*/
$colorCuaternario: #d4af37; /*Detalles, íconos, botones destacados*/
$colorQuinto: #3b3b3b; /*Bordes o contraste suave*/
